@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .title {
    font-weight: bold;
    font-size: 24px;
}

.header .about {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

h2 {
    margin-top: 40px;
    color: #333;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 50%;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input#inputField {
    padding: 10px;
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

button#addToDo {
    padding: 10px 20px;
    border: none;
    background-color:  #E5FFEF;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

button#addToDo:hover {
    background-color:  #C8E6C9;
}

ul.to-dos {
    width: 100%;
    list-style-type: none;
    padding: 0;
}

ul.to-dos li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-container {
    display: flex;
    gap: 10px;
}

.delete-btn, .update-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.update-btn {
    background-color: #ffc107;
}

.update-btn:hover {
    background-color: #e0a800;
}

.delete-btn:hover {
    background-color: #c82333;
}
