@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header .title {
    font-weight: bold;
    font-size: 24px;
}

.header .about {
    color: black;
    text-decoration: none;
    font-size: 16px;
}